.content
  flex 1 0 auto
  display flex

.content__wrapper
  flex 1 0 auto
  display flex
  flex-direction: column
  padding 10px
  border 1px solid colorBlue

.content__desc
  width 100%
  min-height 100px
  display flex
  align-items center
  border 1px solid colorBlue
  padding 20px
  margin-bottom: 10px

.content__inner
  flex 1 0 auto
  display flex
  justify-content: space-between

.content__text
  width calc(100% - 220px)
  //border 1px solid colorBlue

.content__visible
  width 200px
  border 1px solid colorBlue
  //align-self: flex-end
  //max-height: 200px