mixin content(data)
    section.content.container
        .content__wrapper
            .content__desc=data.desc
            .content__inner
                .content__text=data.text
                .content__visible=data.visible