// Common styles of the project

/***
   STICKY FOOTER
***/

html, body
  height 100%
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

.page
  display flex
  flex-direction column

.page__wrapper
  flex 1 0 auto
  display flex
  flex-direction column

.page__footer
  flex 0 0 auto
  height 50px

/***
    CONTAINER STYLE
***/

.container
  min-width 320px
  max-width 1064px
  padding 0 20px
  width 100%
  margin 0 auto
