// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@keyframes leftToRight
  from
    transform translateX(0px)
    z-index -1

  50%
    transform translateX(-300px)
    z-index -1

  100%
    transform translateX(0px)
    z-index 10


@keyframes rightToLeft
  from
    transform translateX(0px)
    z-index -1

  50%
    transform translateX(300px)
    z-index -1

  100%
    transform translateX(0px)
    z-index 10


