.header__menu
  border 1px solid colorGray
  padding: 5px

/***
  MENU STYLE
***/

.menu
  display flex
  justify-content space-between

.menu__link
  display inline-block
  padding 4px 10px
  color colorLink
  font-weight 700
  border 1px solid colorLink
  text-decoration none
  border-radius 5px
  transition tr
  &:hover
    background-color colorLink
    color white