mixin aside(data)
    aside.aside.container
        .aside__block.aside__block--left.js-left
            .aside__text Left aside block
        .aside__block.aside__block--right.js-right
            .aside__text Right aside block