.aside__block
  width 300px
  background-color colorGray
  position absolute
  height 100%
  opacity 0.5;
  display flex
  align-items center
  justify-content center
  z-index -1
  &--left
    left calc(50% - 512px)
    //animation 1s leftToRight forwards
  &--right
    right calc(50% - 512px)
    //animation 1s rightToLeft forwards
