mixin aside(data)
    aside.aside.container
        .aside__block.aside__block--left
            .aside__text Left aside block
        .aside__block.aside__block--right
            .aside__text Right aside block